
.login-form{
  width: 100%;
  max-width: 350px;
  height: 100%;
  margin: auto;
  padding: 15px;
}
.custom-h1{
font-size: 150%;
text-align: center;
color: #FFF;
text-shadow: 1px 1px #FF8040, 2px 2px #FF8040, 3px 3px #FF8040;

}
.custom-h2{
  font-size: 150%;
text-align: left;
color: rgb(249, 253, 255);
text-shadow: 1px 1px #FF8040, 2px 2px #FF8040, 3px 3px #FF8040;

}
.text-center{
  font-size: 20px;
}
.container{
  font-size: 15px;
  padding: 20px;
}
.signup-form{
  width: 100%;
  max-width: 350px;
  height: 100%;
  margin: auto;
  padding: 15px;
}
img{
  font-size: 50px;
  border-radius: 50px;
  text-align: start;
  float: left;
}
 /* ul {
   list-style-type: none; margin: 0; padding: 25px; overflow:hidden; background-color: blue; 
   color: #FFF;
  
} */

/* li{
  float: left;
  list-style-type: none; margin: 0; padding: 25px; overflow: hidden; background-color: blue; 
  color: black;
}   */
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  margin-top: 5px;
}
header.col-md-12 navbar-cps_box-main{
  width: 20px;
  height: 40px;
  float: left;
  display: flex;
}
header-form{
  list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: rgb(25, 0, 255); 
   color: #FFF;
}
.box-man{
  height: 80px;
  display: flex;
  align-items: center;
  /* background: #d70018; */
  /* list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: blue; 
  color: #FFF; */
}
footer-form.ul.li{
  font-size: 20px;
background-color: #FFF;

}
.des{
  
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border: 2px solid gray;
  /* border-radius: 150px; */
  text-indent: 30px;
  font-weight: bold;
  font-size: 15px;
  text-align:center;
 margin-left: -10px;
}
.container-img{
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}
.container-img:hover{
  border: 1px solid #777;
}
.container-img img{
  width: 100%;
  height: 50%;
}
.container-main{
  background-color: #eee;
  color: black;
}
.custom-price{
  color: red;
  font-weight: bold;
}
div.stars {
  width: 120px;
  display: inline-block;
}
 
input.star { display: none; }
 
label.star {
  float: left;
  padding: 1px;
  font-size: 20px;
  color: #444;
  transition: all .2s;
}
 
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}
 
input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
 
input.star-1:checked ~ label.star:before { color: #F62; }
 
label.star:hover { transform: rotate(-15deg) scale(1.3); }
 
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
p{
  font-size: 14px;
}
.checked {
  color: yellow;
  
}
.custom-option{
  /* border: 5px;
  width: 70%;
  height: 30%;
  border-color: gray; */
  padding: 7px;
  width: 70%;
  display: block;
  appearance: normal;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  border: solid 1px #eee;
  float: right;
}
.custom-img{
  margin-left: 50px;
  
}
.custom-name{
  padding-top: 30px;
  font-size: 18px;
  margin-left: 30px;
}
.p-custom{
  float: right;
  padding-top: -20px;
}
.custom-price{
  font-size: 25px;
}
.p-custom{
  font-size: 16px;
  color:grey;
  font-weight: bold;
  margin-left: -50px;
}
.pay{
  background-color: red;
  margin: 0 0 0 10px;
  color: #fff;
  padding: 3px 8px;
  border-radius: 5px;;
  text-emphasis-color: white;
}
.price-change{
  text-decoration: line-through;
  font-size: 16px;

}
/* .linked.item{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: 0 2px 3px 0 rgb(0 0 0 / 15%);
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 15%);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: calc((100% / 3) - 10px);
  text-align: center;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
.linked a.item{
 
  flex-wrap: wrap;
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: 0 2px 3px 0 rgb(0 0 0 / 15%);
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 15%);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: calc((100% / 3) - 10px);
  text-align: center;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
}
p{
  font-size: 15px;
  font-weight: 500;
  color: black;
}
.linked-custom a.item{
  
  flex-wrap: wrap;
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: 0 2px 3px 0 rgb(0 0 0 / 15%);
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 15%);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: calc((100% / 3) - 10px);
  text-align: center;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
}
.promotion_wrapper{
  padding-top: 40px;
  padding-inline-end: 40px;
}
li{
  display:inline;
  padding-left: 20px;
}
label{
  /* margin-left: 300px; */
  float: left;
}
button{
background-color: red;
color: white;
border: 5px;
height: 50px;
}
h6{
  margin-left: 600px;
}
/* .container-detail{
  float: left;
} */
.lt-table-box .content {
  padding: 10px;
}
ul.cols {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.video-lien-quan ul {
  display: flex;
  -webkit-box-orient: horizontal!important;
  -webkit-box-direction: normal!important;
  -webkit-flex-direction: row!important;
  -ms-flex-direction: row!important;
  flex-direction: row!important;
  overflow-x: auto;
  overflow-y: hidden;
}
.root{
  width: 100%;
  display: block;
  background-color: rgb(255, 255, 255);
 
}
.header{
  width: 100%;
  display: left;
  background-color: rgb(55, 25, 226);
  height: 150px;
  color: #eee;
  padding: auto;
  /* position: fixed; */
}
.container-main{
  width: 100%;
  float: left;
 min-height: 800px;
 background-color:white;
}
.footer{
  width: 100%;
  background-color: rgb(255, 255, 255);
  min-height: 500px;
  margin-left: 20px;
  
}
.test-text{
  color: black;
}
.navbar-cps_box-main{
  font-size: 20px;
  margin-left: 20px;
}
table td tr{
  margin-left: 20px;
  font-weight: bold;
}
.content{
  margin-left: 20px;
  border: 2px;
}
.detail-parameter{
  margin-left: 20px;
  font-weight: bold;
}
.custom-video{
  font-size: 16px;
}
.video-detail ul {
  display: flex;
  -webkit-box-orient: horizontal!important;
  -webkit-box-direction: normal!important;
  -webkit-flex-direction: row!important;
  -ms-flex-direction: row!important;
  flex-direction: row!important;
  overflow-x: auto;
  overflow-y: hidden;
}
.img-section{
  
  font-size: 80px;
  /* float: left; */
}
.custom-id{
  font-size: 17px;
  font-weight: bold;
  margin-left: 20px;
}
.custom-chang{
  font-size: 25px;
  color: red;
  margin-left: 5px;
  
}
.custom-pro{
  margin-left: 10px;
}
.price-cdo{
  font-size: 16px;
  text-decoration: line-through;
}
a.button-red {
  background: #e11b1e;
  background: -webkit-linear-gradient(#f52f32,#e11b1e);
  background: -o-linear-gradient(#f52f32,#e11b1e);
  background: -moz-linear-gradient(#f52f32,#e11b1e);
  background: linear-gradient(#f52f32,#e11b1e);
  border: solid 1px #e11b1e;
}
a.big-button, span.big-button strong {
  margin-top: 10px;
  color: #fff;
  font-size: 14px;
  padding: 8px 5px;
  line-height: 18px;
  width: 100%;
  border-radius: 5px;
  display: block;
  text-align: center;
  cursor: pointer;
}
a.button-blue {
  background: #277cea;
  border: solid 1px #1d72e0;
}

button.big-button, a.big-button, span.big-button strong {
  margin-top: 10px;
  color: #fff;
  font-size: 14px;
  padding: 8px 5px;
  line-height: 18px;
  width: 100%;
  border-radius: 5px;
  display: block;
  text-align: center;
  cursor: pointer;
}
.change-price{
font-size: 15px;
color:red;

}
.change-custom{
font-size: 14;
}
.change-cdo{
font-size: 14px;
text-decoration: line-through;
}
.custom-h4{
  font-size: 22px;
  text-align: center;
color: #FFF;
text-shadow: 1px 1px #ff4089, 2px 2px #ff40b6, 3px 3px #e719a2;
}
/* .submit-content{
  text-align: right;
}
.content-fb{
text-align: right;
border: 2px;
} */
.container-shopcart{
  margin-left: 300px;
}
.change-productcart{
  margin-right: 10px;
}
ul{
  font-size: 15px;

}
.infom-kmai{
  float: left;
  display: flex;
  margin-left: 100px;
}
.char-name{
  text-align: left;
  margin-left: 100px;
  font-size: 25px;
}
.container-info{
  font-weight: bold;
  font-size: 16px;
  float: left;
  margin-left: 80px;
  margin-right: 50px;
}
h4 {
  font-size: 18px;
  padding: 0 10px;
  background: #fff;
  position: relative;
  z-index: 1;
  text-align: center;
  margin-right: 300px;
  
} 
.thanh-toan{
  margin-left: 15px;
}
.online{
  font-size: 18px;
  font-weight: bold;
  margin-left: 350px;
}
.col-sm-7{
  margin-left: 80px;
}
.wrapper-img{
  width:240px;
  float: left;
}
.border-radius {
  border-radius: 2px;
}
.overflow-hidden {
  overflow: hidden!important;
}
.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.slides{
  position: relative;
}
.slides.slick-prev
.slides.slick-next{
  position:absolute;
top:50%;
z-index: 1;

}
.slides.slick-prev
{
  left: 40%;
}
.slides.slick-next{
  right:40%;
}
.banner-imgright{
  font-size: 10px;
}
.custom-banner{
margin-left: 150px;
}
.product-img {
  float: left;
}
.product-img .product {
  width: calc(100%/5);
  float: left;
}
.product-img .product {
  height: 100%;
  padding: 10px;
  position: relative;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
 .custom-h3pro{
  font-size: 16px;
}

.product .product__box-image {
  width: 100%;
  height: 180px;
  /* display: flex; */
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px!important;
  position: relative;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  float: left;
} 

/* .col-xs-12 {
  width: 100%;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.old-price
{
  text-decoration: line-through;
}


.list-product {
    display: flex;
    flex-wrap: wrap;
} */
.old-price
{
  text-decoration: line-through;
}
.box-title {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f8f8f8;
}
.border-radius {
  border-radius: 2px;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.cate-phukien{
  float: left;
  

}
div {
  display: block;
}
.custom-bannerimg{

}
ul.cols.cols-5 {
  clear: both;
  display: block;
  background: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  flex: 1 100%;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  margin-bottom: 15px;
}
ul.cols {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul, ol {
  list-style: none;
}
.price{
color :red;
}

  .lt-product-group .container-products{
    background: #fff;
    border-top: none;
}
.text-giam-gia{
  color: red;
}
.lt-product-group ul.cols li {
  height: auto;
}
.lt-product-group ul.cols li {
  background: #fff;
  border: solid 1px #eee;
  position: relative;
  border-left: none;
  border-top: none;
  height: 290px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}


ul.cols>li {
  box-sizing: border-box;
  display: block;
  float: left;
}
